body {
    margin: 0;
}
a {
    text-decoration: none;
}
a:active {
    color: #fcc3cc; 
}
ul {
    padding: 0;
}
p {
    margin: 0;
}
ul li {
    list-style: none;
}
.btn {
        height: 40px;
        display: inline-block;
        min-width: 80px;
        padding: 0 20px;
        border-radius: 99px;
        border: 1px solid #f1788b;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        line-height: 40px;
        color: #fff;
        background: #f1788b;
}
.btn-selling {
    margin-top: 16px;
}
.btn-selling:hover {
    cursor: pointer;
    color: #f1788b;
    background-color: #fff;
    opacity: 0.9;
    transition: 0.5s;       
}
.review-inner-dot {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 1.5px solid #f1788b;
    background: transparent;
    color: #f1788b;
    transition: 0.5s;
}
.review-inner-dot:hover {
    color: #fff;
    background: #f1788b;
    border-color:#f1788b;
    cursor: pointer;
}
.header {
    background-color: #c10a28;
}
.content {
    width: 1200px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
.header-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
.contact{
    display: inline-flex;
    align-items: center;
    padding-left: 0;
}
.contact-a {
    font-size: 16px;
    color: #FFF;
    font-weight: 700;
    padding: 8px;
    margin: 0 16px; 
}
.order {
    font-size: 14px;
    color: #ffae00;
}
.address {
    margin-left: 10px;
    color: #fff;
    font-size: 14px ;
    line-height: 1.8;
    text-transform: uppercase;
}
.phone {
    margin-top: 6px;
    margin-left: 49px;
    font-weight: 800;
    color: #fff;
    font-size: 20px;
    line-height: 1;
    display: block;
}
.food-list {
    padding: 60px;
    border-top: 1px solid #fcc3cc;
    display: flex;
    justify-content: space-between;
}
.food-list i {
    color: #fcc3cc;
    margin-right: 6px;
}
.link-food-list {
    font-size: 20px;
    font-weight: 300;
    color: #fcc3cc;  
}
.link-food-list i {
    font-size: 45px; 
}
.food-list a {
    display: flex;
    align-items: center;
}
/* footer  */
.footer { 
    margin-top: 100px;
    background-color: #2c2c2c;
}
.footer-body {
    text-align: center;
}
.logo-footer {
    display: flex;
    margin: auto 0;
    height: 200px;
    height: 61.28px;
    max-width: 100%;    
}
.info-footer {
    font-size: 18px;
    color: #7f7f7f;
    padding: 30px 0;
}
.icon-footer {
    display: flex;
    justify-content: center;
}
.icon-footer i {
    margin: 16px;
    color: #969696;
    font-size: 16px;
    border: 1px solid #969696;
    border-radius: 50%;
    display: block;
    width: 52px;
    height: 52px;
}
.fa-brands:before,
.fa-solid:before {
    position: relative;
    top: 36%;
}
/* main  */
.selling-products-list {
    width: 33.333%;
    text-align: center;
}
.selling-products-list-img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}
.selling-products-heading {
    padding: 50px 0;
    text-align: center;
}
.selling-products-heading h2 {
    font-size: 36px;
    color: #ec667b;
    line-height: 1.1;
}
.selling-products-list-desc {
    display: block;
    font-size: 18px;
    color: #ec667b;
    width: 100%;
    line-height: 1.8;
}
.selling-products-list .price {
    display: block;
    color: #666;
    font-weight: 400;
    font-size: 18px;
    height: 18px;
}
.products-1-container {
    display: flex;
    gap: 16px;
}
.footer-contact {
    display: flex;
    justify-content: space-between;
}
.footer-contact-link-heading {
    color: #e8e8e8;
    font-size: 20px;
    line-height: 30px;  
}
.footer-contact-link-list a {
    font-size: 18px;
    color: #d1d1d1;
    padding: 8px 0;
    display: block;
}
.fa-basket-shopping {
    font-size: 80px;
    color: #ddd;
}   
.site-content-info-label h4 {
    font-size: 18px;
    font-weight: 500;
    color: #2d2b2d;
}
.site-content-info-label p {
    font-size: 14px;
    font-weight: 500;
    color: #71706c;
    max-width: 180px;
    line-height: 1.6;
}
.site-content {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.site-content-info {
    text-align: center;
}
.featured h2 {
    font-size: 46px;
    color: #000;
    font-weight: 500;
}
.featured a {
    font-size: 26px;
    font-weight: 700;
    color: #9b959b;
    padding: 16px 26px  ;
}
.featured-list ul {
    display: flex;
    justify-content: center;
}  
.featured-list ul {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}
.featured .active {
    font-size: 26px;
    font-weight: 700;
    color: #2d2b2d;
    padding: 16px 26px;
}
.review-innerr-container img {
    width: 100%;
    max-width: 1000px;
    height: 720px;
    object-fit: cover;
}
.review-innerr-container {
    display: flex;
    overflow: hidden;
    width: 60%;
}
.review-inner {
    margin: 0 0 100px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}